<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9c3c32d2-3630-4bed-9305-1c979d65032d/resourceGroups/US-MaerskDDAC-APP-TP034760/providers/Microsoft.Web/sites/us-maersk</ResourceId>
    <ResourceGroup>US-MaerskDDAC-APP-TP034760</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://us-maersk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>us-maersk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>us-maersk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$us-maersk</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:maersk-us.database.windows.net,1433;Initial Catalog=DDACMaerskDB;User ID=maerskAdmin;Password=@Password123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Maersk_DDAC.Models.ApplicationDbContext, Maersk DDAC" MigrationConfiguration="Maersk_DDAC.Migrations.Configuration, Maersk DDAC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:maersk-us.database.windows.net,1433;Initial Catalog=DDACMaerskDB;User ID=maerskAdmin;Password=@Password123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>